In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import seaborn as sns

In [4]:
import matplotlib.pyplot as plt

In [5]:
df=pd.read_csv('SNA.csv')

In [6]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [7]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [8]:
x=df[['Age','EstimatedSalary']]
y=df['Purchased']

In [9]:
from sklearn.model_selection import train_test_split as tts

In [10]:
from sklearn.preprocessing import StandardScaler

In [11]:
x_train, x_test ,y_test,y_train =tts(x,y, test_size=0.25,random_state=0)

In [12]:
sc_x=StandardScaler()

In [13]:
x_train=sc_x.fit_transform(x_train)

In [14]:
x_test=sc_x.fit_transform(x_test)

In [15]:
x_train.shape

(300, 2)

In [16]:
from sklearn.linear_model import LogisticRegression
lm = LogisticRegression(random_state = 0, solver='lbfgs' )

In [18]:
lm.fit(x_train, y_train)

ValueError: Found input variables with inconsistent numbers of samples: [300, 100]